@model Dake.ViewModel.FirstHomeViewModel
@{
    Layout = null;
}

<style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 100%;
        padding: 10px;
        height: 300px;
        /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .price {
        position: absolute;
        bottom: 25px;
        right: 30px;
        margin-bottom: 10px;
        background: #52525285;
        padding: 5px 10px;
        border-radius: 10px;
        z-index: 1;
        color: white;
    }

    .photos__item figcaption {
        bottom: unset;
        top: 0;
    }
</style>
<link href="~/css/site.css" rel="stylesheet">

@if (Model.notices != null && Model.notices.Count > 0)
{
    <div class="photos" id="main-div">
        @if (Model.Banner != null)
        {
            <div>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @for (int i = 1; i <= Model.Banner.Count() - 1; i++)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                        }
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                        @{
                            int ii = 0;
                        }
                        @foreach (var banner in Model.Banner)
                        {

                            if (ii == 0)
                            {
                                <div class="carousel-item active">
                                    <a onclick="ViewBanner(@banner.Id)" href="@banner.Link" target="_blank">
                                        <img class="d-block w-100"
                                            style="height: 225px;margin: auto;border-radius: 5px;"
                                            src="https://dakeh.net/@banner?.BannerImage?.FirstOrDefault()?.FileLocation"
                                            alt="First slide"></a>

                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <a href="@banner.Link" target="_blank">
                                        <img class="d-block w-100" style="height: 225px;margin: auto;border-radius: 5px;"
                                            src="https://dakeh.net/@banner?.BannerImage?.FirstOrDefault()?.FileLocation"
                                            alt="First slide">
                                    </a>

                                </div>
                            }

                            ii = ii + 1;
                        }

                    </div>
                    <a style="width: 40px;background-color: #343434;border-radius: 80% 0px 0px 80%;"
                        class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a style="width: 40px;background-color: #343434;border-radius: 0px 80% 80% 0px;"
                        class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        }
        <div class="row">

            <div class="column">
                <div class="grid sss">

                    @if (Model.espacialNotices.Any())
                    {
                        foreach (var item in Model.AllNotice)
                        {
                            var notice = item.Notice;
                            if (item.IsEmpty)
                            {
                                <div class="" style="position: relative;">
                                    @* <div style="right: 5px;left: 5px;margin-right: auto;margin-left: auto;bottom: 10px;" class="price">
                                        @string.Format("{0:0,0}", @notice.price) تومان
                                    </div> *@
                                    <figure class="photos__item">
                                        <img src="/images/dakeh-logo-new.jpg">
                                    </figure>
                                </div>
                            }
                            else if (item.IsSpecial)
                            {
                                <div class="" style="position: relative; @(item.IsRight ? "grid-column: span 2 / span 2;grid-row: span 2 / span 2;" : "grid-column: span 2 / -1;grid-row: span 2 / span 2;")">
                                    <div style="right: 5px;left: 5px;margin-right: auto;margin-left: auto;bottom: 22px;" class="price">
                                        @String.Format("{0:0,0}", notice.price) تومان
                                    </div>
                                    <figure class="photos__item photos__item--big">
                                        <a href="/Notice2/Index?id=@notice?.id" title="@notice?.title">
                                            @if (!(string.IsNullOrEmpty(notice?.image) || notice?.image == "undefined"))
                                            {
                                                <img src="@notice?.image" title="@notice?.title" alt="@notice?.title">
                                            }
                                            else if (!string.IsNullOrEmpty(notice?.movie) || notice?.movie == "undefined")
                                            {
                                                <video src="@notice?.movie" alt="@notice?.title" title="@notice?.title"></video>
                                            }
                                            else
                                            {
                                                if (!string.IsNullOrEmpty(notice?.category.image))
                                                {
                                                    <img src="@notice?.category.image" title="@notice?.title" alt="@notice?.title">
                                                }
                                                else
                                                {
                                                    var esp2_img = Model.Categories.Where(x => x.id ==
                                                    notice?.category.parentCategory.id).FirstOrDefault();
                                                    if (!string.IsNullOrEmpty(esp2_img.image))
                                                    {
                                                        <img src="@esp2_img.image" alt="@notice?.title" title="@notice?.title">
                                                    }
                                                    else
                                                    {
                                                        var esp2_img2 = Model?.Categories?.Where(x => x?.id ==
                                                        esp2_img.parentCategory?.id)?.FirstOrDefault();
                                                        if (esp2_img2 != null && !string.IsNullOrEmpty(esp2_img2.image))
                                                        {
                                                            <img src="@esp2_img2.image" alt="@notice?.title" title="@notice?.title">
                                                        }
                                                        else
                                                        {
                                                            @*<img src="@esp2_img2?.parentCategory?.image" alt="@esp2?.title" title="@esp2?.title">*@
                                                        }
                                                    }
                                                }
                                            }
                                        </a>
                                        <figcaption>@notice.title</figcaption>

                                    </figure>

                                </div>
                            }
                            else
                            {
                                <div class="" style="position: relative;">
                                    <div style="right: 5px;left: 5px;margin-right: auto;margin-left: auto;bottom: 10px;" class="price">
                                        @string.Format("{0:0,0}", @notice.price) تومان
                                    </div>
                                    <figure class="photos__item">
                                        <a href="/Notice2/Index?id=@notice.id" title="@notice.title">
                                            @if (!(string.IsNullOrEmpty(notice.image) || notice.image == "none"))
                                            {
                                                <img src="@notice.image" alt="@notice.title" title="@notice.title">
                                            }
                                            else if (!string.IsNullOrEmpty(notice.movie) || notice.movie == "undefined")
                                            {
                                                <video width="200" src="@notice.movie" alt="@notice.title" title="@notice.title"></video>
                                            }
                                            else
                                            {
                                                if (!string.IsNullOrEmpty(notice.category.image))
                                                {
                                                    <img src="@notice.category.image" alt="@notice.title" title="@notice.title">
                                                }
                                                else
                                                {
                                                    var not1_img = Model.Categories.Where(x => x.id ==
                                                    notice.category.parentCategory.id).FirstOrDefault();
                                                    if (!string.IsNullOrEmpty(not1_img.image))
                                                    {
                                                        <img src="@not1_img.image" alt="@notice.title" title="@notice.title">
                                                    }
                                                }
                                            }
                                        </a>
                                        <figcaption>@notice.title</figcaption>
                                    </figure>
                                </div>
                            }

                        }
                    }
                    else
                    {
                        @foreach (var notic in Model.notices.OrderByDescending(p => p.id))
                        {
                            <div class="" style="position: relative;">
                                <div style="right: 5px;left: 5px;margin-right: auto;margin-left: auto;bottom: 10px;" class="price">
                                    @String.Format("{0:0,0}", @notic.price) تومان
                                </div>
                                <figure class="photos__item">
                                    <a href="/Notice2/Index?id=@notic.id" title="@notic.title">
                                        @if (!(String.IsNullOrEmpty(notic?.image) || notic?.image == "none"))
                                        {
                                            <img src="@notic?.image" alt="@notic?.title" title="@notic?.title">
                                        }
                                        @if ((String.IsNullOrEmpty(notic?.image) || notic?.image == "none") &&
                                       !(String.IsNullOrEmpty(notic?.movie) || notic?.movie == "undefined"))
                                        {
                                            <video width="200px" src="@notic?.movie" alt="@notic?.title" title="@notic?.title"></video>
                                        }
                                        else
                                        {
                                            if (!String.IsNullOrEmpty(notic?.category.image))
                                            {
                                                <img src="@notic?.category.image" alt="@notic?.title" title="@notic?.title">
                                            }
                                            else
                                            {
                                                var not1_img = Model.Categories.Where(x => x.id ==
                                                notic?.category.parentCategory.id).FirstOrDefault();
                                                if (!String.IsNullOrEmpty(not1_img.image))
                                                {
                                                    <img src="@not1_img.image" alt="@notic?.title" title="@notic?.title">
                                                }
                                            }
                                        }
                                    </a>
                                    <figcaption>@notic.title</figcaption>
                                </figure>
                            </div>
                        }
                    }
                </div>
            </div>

            @*<div class="column">
        <div class="row">
        else {
        foreach (var banner in Model.Banner)
        {
        <div class="col-md-12">
        <figure class="photos__item photos__item--big">
        <a href="/Banner2/Index?id=@banner.Id" title="@banner.title">
        <img src="@banner.BannerImage.First().FileLocation" title="@banner.BannerImage.First().Name"
        alt="@banner.BannerImage.First().Name">
        </a>
        <figcaption>@banner.title</figcaption>
        </figure>
        </div>
        }
        }
        </div>
        </div>*@

        </div>
    </div>
}
        <script>
        function ViewBanner(Id) {
            $.ajax({
            url: "/VeiwBanner",
                method: "POST",
                data: { id: Id },
                success: function (data) {
                },
                error: function () {
                }
            });
            }
        </script>