@model Dake.Models.Information
<section class="content">
	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">ثبت اطلاعیه</h3>
				</div>
				@Html.ValidationSummary(false, "", new { @class = "text-danger" })
				<div >
					<form asp-action="Edit" method="post" enctype="multipart/form-data">
						<div class="box-body">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<input name="id" value="@Model.id" hidden />
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">عنوان</label>
									<input required name="title" value="@Model.title" class="form-control" placeholder="عنوان اطلاعیه را وارد کنید" />

								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<textarea required name="description" style="max-width:500px;max-height:450px" placeholder="متن اطلاعیه را وارد کنید">@Model.description</textarea>


								</div>
							</div>
							<div class="col-md-6">

								<div class="form-group " style="margin-right:5px">
									<label for="exampleInputEmail1"> عکس  :</label>
									<div id="main-container">
										<input display="Image" id="file" name="files" class="TheFile" onchange="SetPictures('file','ImageItems');" style="display:none" type="file" multiple>
										<button type="button" style="height:20%;margin-left:15px;top:0;" class="btn btn-primary" onclick="file.click()"><i class="fa fa-camera"></i>انتخاب کنید</button>
										<div id="ImageItems" style="width:400px;height:auto;margin-left:5px;">
										</div>
									</div>
								</div>
							</div>
							<div class=" row">
								<div class="col-md-offset-2 col-md-10 ">
									<div class="text-center text-danger" style="border-style:solid;height:30px;margin-left:100px">
										<p style="margin-bottom:10px;font-size:medium"> حذف تصاویر </p>
									</div>

									<div class="row">

										@foreach (var item in Model.InformationMedias)
										{
											<img src="@item.Image" class="image" style="width:80px;height:70px;margin-top:5px;cursor:pointer"><input name="listPic" align="bottom" style="margin-left:3px;margin-right:3px;" type="checkbox" value="@item.Id" />
										}
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="submit" value="تایید" class="btn btn-default" />
									<a class="btn btn-danger" asp-action="Index">بازگشت</a>
								</div>
							</div>
						</div>
</form>
				</div>
			</div>
		</div>
	</div>
</section>


<script>

	function SetPictures(inputtarget, target, type) {
		var myURL = window.URL || window.webkitURL;
		var result = "";
		var tag = "";
		var _File = document.getElementById("" + inputtarget + "").files;
		for (var i = 0; i < _File.length; i++) {
			var fileURL = myURL.createObjectURL(_File[i]);
				tag = "<img src='" + fileURL + "' style='width:80px;height:60px;'>";
			result += tag;
		}
		$('#' + target + '').html(result);
	}
</script>